html,
body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  background: #eee;
  flex-direction: column;
  margin: 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  letter-spacing: -0.01rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
